@font-face {
  font-family: 'Clash Display Bold';
  src: url('../../fonts/ClashDisplay-Bold.woff2') format('woff2'),
    /* Modern Browsers */
    url('../../fonts/ClashDisplay-Bold.woff') format('woff')
    /* Older Browsers */
    /* You can also include additional font weights and styles here if available */
}
@font-face {
  font-family: 'Unica One';
  /* You can name it whatever you like */
  src: url('../../fonts/UnicaOne-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  /* You can name it whatever you like */
  src: url('../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.landingSection{
  padding: 13vh 0 0;
}
.landingSection>div{
  padding: 0 !important;
}

.animatedText{
 word-spacing: 3px; 
 position: relative;
}
.animatedText span{
  font-style: italic;
  font-weight: 700;
}
.animatedText>div:last-child{
  position: absolute;
  right: 0;
}
.mainIntro{
  width: 100%;
  text-align: center;
  
}
.mainIntro>div:first-child{
  flex-direction: column;
  margin: auto;
  font-size: 32px;
  font-family: 'Clash Display Bold', sans-serif;
}

.mainIntro>div>span:first-child{
  position: relative;
}
.version{
  color: var(--secondary-color);
}
.chain,
.bang,
.bulb{
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.chain{
  background-image: url(./chain.png);
}
.bang{
  background-image: url(./bang.png);
}
.bulb{
  background-image: url(./bulb.png);
  position: absolute;
}
.mainIntro>div:last-child {
  font-family: 'Unica One', sans-serif;
  line-height: 133%;
  margin: 20px 19%;
}
.mainIntro>div:last-child>div>span {
  font-family: 'Montserrat', sans-serif;
}
.landingImage1,
.landingImage2{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.landingImage1{
  position: relative;
  background-image: url(./landingImage1.png);
}
.landingImage2{
  position: absolute;
  background-image: url(./landingImage2.png);
  width: 95%;
}

@media (max-width: 767px) {
  .animatedText span{
    font-size: 16px;
  }
  .animatedText{
    margin: 20px auto 50px;
  }
  .mainIntro>p {
    font-size: 13px;
    text-align: center;
    margin: 10px 12% 25px;
    line-height: 166%;
    letter-spacing: 1px;
  }
  .chain,
  .bang,
  .bulb {
    width: 33px;
    height: 33px;
    margin-bottom: -5px;
  }
  .bulb{
    top: -20px;
    right: 85px;
  }
  .mainIntro>div:last-child {
   font-size: 48px; 
  }
  .mainIntro>div:last-child>div>span{
    font-size: 14px;
  }
  .landingImage1{
    height: 45vh;
  }
  .landingImage2{
    height: 40vh;
  }
}

@keyframes reveal {
  from {
    stroke-dashoffset: 72;
    /* The same as the initial stroke-dasharray */
  }

  to {
    stroke-dashoffset: 0;
    /* Fully reveal the path */
  }
}