@font-face {
  font-family: 'Clash Display Bold';
  src: url('../../fonts/ClashDisplay-Bold.woff2') format('woff2'),
    /* Modern Browsers */
    url('../../fonts/ClashDisplay-Bold.woff') format('woff')
    /* Older Browsers */
    /* You can also include additional font weights and styles here if available */
}

.landingSection{
  padding: 13vh 0 0;
}
.landingSection>div{
  padding: 0 !important;
}

.animatedText{
 word-spacing: 3px; 
 position: relative;
}
.animatedText span{
  font-style: italic;
  font-weight: 700;
}
.animatedText>div:last-child{
  position: absolute;
  right: 0;
}
.revealingCircle {
  animation: reveal 2s ease-in-out forwards;
}
.mainIntro{
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-family: 'Clash Display Bold', sans-serif;
}
.mainIntro div{
  flex-direction: column;
  margin: auto;
}
.mainIntro>div>span:first-child{
  position: relative;
}
.version{
  color: var(--secondary-color);
}
.chain,
.bang,
.bulb{
  width: 33px;
  height: 33px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: -5px;
}
.chain{
  background-image: url(./chain.png);
}
.bang{
  background-image: url(./bang.png);
}
.bulb{
  background-image: url(./bulb.png);
  position: absolute;
  top: -20px;
  right: 35px;
}

@media (max-width: 767px) {
  .animatedText span{
    font-size: 16px;
  }
  .animatedText{
    margin: 20px auto 50px;
  }
}

@keyframes reveal {
  from {
    stroke-dashoffset: 72;
    /* The same as the initial stroke-dasharray */
  }

  to {
    stroke-dashoffset: 0;
    /* Fully reveal the path */
  }
}