.button{
  background: var(--button-background) !important;
  color: var(--text-color);
  border-radius: 4px;
  padding: 16px 52px;
  border: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.button:hover{
  background: var(--background-color) !important;
  border: 2px solid #9A39FF !important;
}
.button>a{
  margin-left: 0 !important;
}
.button>a:hover{
  color: var(--text-color) !important;
}