.accordionWrap{
  background: var(--background-color) !important;
  border-radius: 0 !important;
  border-bottom: 1px solid var(--secondary-color) !important;
  font-family: 'Monteserrat', sans-serif !important;
  margin: 0 !important;
}
.accordionWrap div{
  margin: 0 !important;
}
.faqImage{
  width: 55vw;
}
.panelHeader{
  padding: 0 !important;
  color: var(--text-color) !important;
  border: none !important;
  width: 100% !important;
  box-shadow: none !important;
  outline: none !important;
}
.panelHeader p{
  font-size: 14px !important;
  font-family: 'Monteserrat', sans-serif;
}
.accordionIcon{
  color: var(--secondary-color);
  font-size: 20px !important;
  align-self: baseline !important;
}
.accordionContent{
  color: var(--text-color);
  padding: 0 0 5px !important;
  font-family: 'Monteserrat', sans-serif;
}
.accordionContent p{
  font-size: 14px !important;
  font-family: 'Monteserrat', sans-serif;
}
.text{
  font-family: 'Monteserrat', sans-serif;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .text{
    font-size: 12px;
    line-height: 229.167%;
  }
  .panelHeader p{
    text-align: left;
    line-height: 150%;
    font-size: 12px !important;
  }
  .accordionContent p{
    text-align: left !important;
  }
  .faqSection{
    flex-direction: column-reverse !important;
  }
}