.policyContainer{
  position: relative;
}
.privacyBackdrop{
  position: absolute;
  top: 3vh;
  right: 0;
  z-index: -1;
}
.policySection{
  padding: 80px 0 40px 12%;
  column-gap: 50px;
}
.policySection>div:first-child{
  background-size: cover;
  height: 700px;
}
.policySection>div:last-child{
  width: 150vw;
}
.contentWrap p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 27.5px;
  color: var(--text-color);
}
.contentWrap>p:nth-child(2){
  width: 78%;
}
.update{
  color: rgba(255, 255, 255, 0.75) !important;
}
.licensingWrap{
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  background: rgba(217, 217, 217, 0.03);
  padding: 60px 70px;
  font-size: 14px;
  flex-direction: column;
  margin-top: 60px;
}
.licensingWrap p{
  font-size: 14px;
  font-family: 'Montserrat',sans-serif;
  line-height: 216.4%;
}
.licensingWrap h4{
  color: var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 216.4%;
  margin-bottom: 0;
}
.licensingWrap h5{
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 216.4%;
  margin-bottom: 0;
}
.licenceList{
  line-height: 216.4%;
  margin-top: 18px;
}
.licenceList li{
  margin-bottom: 18px;
}
.button{
  /* width: fit-content; */
  justify-self: center;
  margin: 0 auto;
}

@media (max-width: 767px){
  .policySection{
    flex-direction: column-reverse !important;
    padding: 60px 5%;
  }
  .privacyBackdrop{
    top: 130vh;
    right: 50%;
    transform: translateX(50%);
    margin: 0 auto;
  }
  .privacyBackdrop>svg{
    width: 70vw;
  }
  .policySection>div:last-child {
    width: 100vw;
  }
  .contentWrap>p:nth-child(2) {
    width: 100%;
  }
  .licensingWrap{
    padding: 45px 15px;
    font-size: 12px;
    text-align: left;
  }
  .policySection>div:first-child {
    background-size: contain;
    height: 350px;
  }
  .policySection>div:first-child{
    width: 150%;
    margin-top: 140px;
    position: relative;
    left: -80px;
  }
}
