@font-face {
  font-family: 'Clash Display';
  src: url('fonts/ClashDisplay-Regular.woff2') format('woff2'),
    /* Modern Browsers */
    url('fonts/ClashDisplay-Regular.woff') format('woff'),
  /* Older Browsers */
  /* You can also include additional font weights and styles here if available */
}
@font-face {
  font-family: 'Clash Display Bold';
  src: url('fonts/ClashDisplay-Bold.woff2') format('woff2'),
    url('fonts/ClashDisplay-Bold.woff') format('woff')
}
@font-face {
  font-family: 'Monteserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}
:root {
  --primary-color: #903aff;
  /* Define your primary color */
  --secondary-color: #d434fe;
  /* Define your secondary color */
  --text-color: #fff;
  /* Define a text color */
  --background-color: #150E28;
  /* Define a background color */
  --button-background: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
}
*{
  box-sizing: border-box !important;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color);
  font-family: 'Clash Display', sans-serif;
  overflow-x: hidden;
}
a{
  color: var(--text-color) !important;
  text-decoration: none !important;
}
a:hover{
  color: var(--secondary-color);
  transition: all .5s ease-in-out;
}
ul{
  padding: 0;
  list-style: none;
}
